# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Build settings
markdown: kramdown

email: info@coderdojo.es
baseurl: "" # the subpath of your site, e.g. /blog
url: http://www.coderdojo.es # the base hostname & protocol for your site

# SEO
meta:
  title: CoderDojo España
  description: Asociación española de CoderDojo Foundation. Clubes gratuitos de programación para chicos y chicas de 7 a 17.
  keywords: coderdojo, coderdojo españa, asociación coderdojo, programación, club de programación

# Collections
collections:
  dojos:
    permalink: /:categories/:title
    output: true
  posts:
    permalink: "/:categories/:year/:month/:day/:title"
    output: true

defaults:
- scope:
    path: _dojos
    type: dojos
- scope:
    path: _posts
    type: posts

include:
  - _pages

exclude:
  - _site
  - Gemfile
  - Gemfile.lock
  - README.md

sass:
  style: compressed

# Plugins
plugins:
  - jekyll-sitemap