<footer id="footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="text-left">
                <img width="180px" src="/images/coderdojo.svg" />
                <p class="description">El movimiento CoderDojo cree que la comprensión de los lenguajes de programación es cada vez más importante en el mundo moderno, que es mejor y más fácil aprender estas habilidades temprano, y que a nadie se le debe negar la oportunidad de hacerlo.</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="text-right">
            <ul>
                <li><a target="_blank" href="https://t.me/CoderDojo_es"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/CoderDojo_es"><i class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://github.com/CoderDojoES"><i class="fab fa-github"></i></a></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</footer>

<footer id="copyright" class="text-center">
    <p>La Asociación CoderDojo España es una iniciativa sin ánimo de lucro inscrita en el Registro Nacional de Asociaciones, Grupo 1, Sección 1 y Número 610530.</p>
</footer>
