#content #noticias {
    .block-title {
        background: $color-orange;
        color: #fff;
    }
}

#noticias .noticia {
    font-size: 1.3rem;
    .title {
        margin: 0 0 20px;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .date {
        margin: 0 0 20px;
        text-align: right;
        font-size: 0.9rem;
    }
    a {
        &:hover {
            color: $color-orange;
        }
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}