#header{
    background: #f0f0f0;
    .logo {
        margin: 10px 0;
    }
    .navbar {
        display:block;
        background: none;
        margin: 15px 0 0;
        padding: 0;
        ul {
            display: block;
            li {
                list-style: none;
                display: inline-block;
                font-size: 1.2rem;
                a {
                    display: block;
                    padding: 10px 25px;
                    color: #333;
                    &:hover,
                    &.active {
                        color: #111;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){
    #header {
        .logo {
            text-align: center;
        }
        .navbar {
            margin: 0;
            padding: 10px 0;
            background: #f0f0f0;
            border-top: 3px solid #fff;
            .navbar-toggler {
                border: none;
                .fa-bars {
                    font-size: 1.5rem;
                    color: #333;    
                }
            }
            ul {
                li {
                    display: block;
                    padding: 10px 0;
                    a {
                        border: none;
                        color: #333;  
                        &:hover,
                        &.active {
                            color: #111;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}



#content {
    min-height: 450px;
    .block-title {
        padding: 50px 0;
        text-align: center;
        h1 {
            max-width: 800px;
            margin: 0 auto 30px;
            font-size: 2.6rem;
            font-weight: bold;
        }
        p {
            max-width: 960px;
            margin: 0 auto;
            font-size: 1.5rem;
        }
    }
    .block-description {
        padding: 80px 0;
        font-size: 1.3rem;
        background: #f0f0f0;
        p {
            margin: 0 0 30px;
            padding: 0;
        }
        ul {
            margin: 0 0 0 20px;
            li {
                margin: 0 0 10px;
            }
        }
    }
    .block-users {
        padding: 80px 0;
        font-size: 1.2rem;
        color: #333;
    }
}
#content #home {
    .block-title {
        background: $color-purple;
        color: #fff;
    }
}
#content #asociacion {
    .block-title {
        background: $color-blue;
        color: #fff;
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}



#footer {
    padding:50px 20px;
    background: #222;
    color: #fff;
    font-size: 1rem;
    ul {
        padding: 10px 0 0;
        li {
            display: inline-block;
            a {
                padding: 5px;
                color: #fff;
                &:hover {
                    color: #f0f0f0;
                }
            }
            .fab {
                font-size: 2.5rem;
            }
        }
    }
    .description {
        padding: 30px 0 0;
        font-size: 1.2rem;
    }
    .copyright {
        padding: 20px 0;
        font-size: 0.8rem;
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){
    #footer {
        .text-left,
        .text-right {
            text-align: center !important;
        }
        ul {
            padding: 30px 0 0;
        }
    }
}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}

#copyright {
    padding: 20px;
    background: #111;
    color: #fff;
    font-size: 0.9rem;
    p {
        margin: 0;
        padding: 0;
    }
}