/* ==========================================================================
   Black Theme
   ========================================================================== */

.t-black {

  .c-navigation,
  .c-header {
    background: $c__black;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__black;
  }

  .c-footer a {
    color: $c__black;
  }
}
