#header{
    .logo {
        margin: 15px 0 20px;
    }
    .navbar {
        display:block;
        margin:0;
        padding:0;
        background: #fff;
        ul {
            display:block;
            background: #fff;
            li {
                list-style: none;
                display: inline-block;
                font-size: 14px;
                text-transform: uppercase;
                a {
                    display: block;
                    padding: 10px 25px;
                    color: #000;
                    border-bottom:3px solid #fff;
                    &:hover,
                    &.active {
                        border-bottom-color: #333;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){
    #header {
        .logo {
            text-align: center;
        }
        .navbar {
            ul {
                background: #f0f0f0;
                border-bottom: 3px solid #333;
                li {
                    display: block;
                    a {
                        border: none;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}

#content {
    min-height: 700px;
    padding: 40px;
    background: #fff;
    .title {
        text-align: center;
        h1 {
            margin:0 0 40px;
            font-size:2.6rem;
            color:#000;
        }
    }
    .description {
        font-size: 1.1rem;
        line-height: 1.6;
        font-weight: normal;
    }
    ul {
        li {
            margin: 0 0 0 20px;
            padding: 5px;
            list-style: circle;
        }
    }
    article {
        blockquote {
            margin: 0 0 20px;
            padding: 10px 20px;
            background: #f0f0f0;
            font-style: italic;
        }
        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin: 50px 0 10px;
        }
        img {
            margin: 0 auto;
            text-align: center;
        }
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}

#footer {
    padding:15px 20px;
    background: #333;
    color: #fff;
    font-size: 1rem;
    ul {
        li {
            display: inline-block;
            a {
                color: #fff;
                &:hover {
                    color: #f0f0f0;
                }
            }
            .fa {
                font-size: 2rem;
            }
        }
    }
}
@media only screen and (max-width:1199px){}
@media only screen and (max-width:991px){
    #footer {
        .text-left,
        .text-right {
            text-align: center;
        }
    }
}
@media only screen and (max-width:767px){}
@media only screen and (max-width:543px){}
